<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Iratxe Díaz Carvajal y Laura del Río Carazo.
</p>

<p>
    Mi repositorio está en <a href="https://github.com/LAURADELRIOCARAZO/quiz_2017.git">github</a>.
</p>

<img src="/images/fotiko.jpg" width="200px"/>

